<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUBJECT</title>
</head>

<body>
    <h1>
        <%= subject.subject_name %>
    </h1>
    <h5><a href="/subjects">Return to subject list</a></h5>
    <table>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <% subject.Students.forEach(student => { %>
            <tr>
                <td>
                    <%= student.first_name%>
                </td>
                <% if(!student.StudentSubject.StudentScore) { %>
                    <td><a href="/subjects/<%=student.StudentSubject.SubjectId%>/score">Give Score</a></td>
                    <% } else { %>
                        <td>
                            <%=student.StudentSubject.StudentScore%>
                        </td>
                        <% } %>
            </tr>
            <% }) %>
    </table>
</body>

</html>